<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" media="screen" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='template.js')}}"></script>

<div class="chat_window">

<div class="top_menu">
    
	<div class="buttons">
		<div class="button close">
		</div>
		<div class="button minimize">
		</div>
		<div class="button maximize">
		</div>
	</div>
    <div class="title" style="font-family: Microsoft JhengHei;color:black;">台南市旅遊小幫手</div>
</div>

<ul class="messages"> <!-- messagebox -->
</ul>

<div class="bottom_wrapper clearfix">

    <div class="message_input_wrapper">
        <input class="message_input" placeholder="Type your message here..." />
    </div>

    <div class="send_message">
    	<div class="icon">
    	</div>
    	<div class="text">Send</div>
    </div>
</div>

</div>

<div class="message_template">

	<li class="message">

		<div class="avatar"></div>

		<div class="text_wrapper">

		  <div class="text"></div>

		</div>

	</li>

</div>